extends layout

block content
<div class="container">
  <div class="row">
    <div class="col">
      h1= title
      <p class="lead"> Explain, scraping reddit project - it does this thing, by doing some things, and a couple other things.  I made these choices for these reasons.  Maybe a few other reasons contributed to this as well. </p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Stats</h1>
        if error
          <p class="lead"> Error getting dynamic content. </p>
        else
          <p class="lead"> Here's the data on the scrapes so far: </p>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape/scrapes" role="button"> Scrape List</a>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape/create" role="button"> Create Scrape</a>
      </div>
    </div>
  </div>
</div>

 .page-header#banner
  .row
    .col-lg-8.col-md-7.col-sm-6
      h1= title
      p.lead Explain, scraping reddit project - it does this thing, by doing some things, and a couple other things.  I made these choices for these reasons.  Maybe a few other reasons contributed to this as well. 
    .col-lg-4.col-md-5.col-sm-6

      p.lead What does this do?

  .row
    .col-lg-12
      .jumbotron
        h1.display-3 Stats
        if error
          p.lead Error getting dynamic content.
        else
          p.lead Here's the data on the scrapes so far:
        hr.my-4
        //- 
        ul
          li #[strong Number of Scrapes:] !{data.scrape_count}
        //- 
        p.lead
          a.btn.btn-primary.btn-lg(href='/scrape/scrapes' role='button') Scrape List
        hr.my-4
        p.lead
          a.btn.btn-primary.btn-lg(href='/scrape/create' role='button') Create Scrape
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Stats</h1>
        if error
          <p class="lead"> Error getting dynamic content. </p>
        else
          <p class="lead"> Here's the data on the scrapes so far: </p>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape/scrapes" role="button"> Scrape List</a>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/scrape/create" role="button"> Create Scrape</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

ul
  li #[strong Number of Scrapes:] !{data.scrape_count}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cras justo odio
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Dapibus ac facilisis in
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Morbi leo risus
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>