extends layout

block content
  .page-header#home
  <div class="container">
    <div class="row pt-5">
        <div class="col-xs-12"></div>
    </div>
        <div class="col-md-1"></div>
    <div class="row jumbotron">
        <div class="col">
          <div class="row">
            <div class="col">
              h1= title
              <p class="lead">Explain, scraping reddit project - it does this thing, by doing some things, and a couple other things.  I made these choices for these reasons.  Maybe a few other reasons contributed to this as well. </p>
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
            </div> 
          </div> 
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row Jumbo row 2">
        <div class="col-md-1"></div>
        <div class="scrape col-md-10"></div>
  //- <div class="row pt-5">
  //-   <div class="col-lg-8 col-md-7 col-sm-6">
  //-     <div class="col-lg-4 col-md-5 col-sm-6">
  //-       <div class="col-lg-12">
  //-         <div class="jumbotron">
  //-           h1= title
  //-           <p class="lead">Explain, scraping reddit project - it does this thing, by doing some things, and a couple other things.  I made these choices for these reasons.  Maybe a few other reasons contributed to this as well. </p>
  //-           <hr class="my-4">
  //-           <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  //-           <p class="lead">
  //-             <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  //-           </p>
  //-         </div>
  //-       </div>
  //-     </div>
  //-   </div>
  //- </div>