extends layout

block content
  <div class="container">
    <div class="row pt-1">
      <div class="col-xs-12"></div>
    </div>
    <div class="col-md-1"></div>
    <div id="nlp_response" class="row jumbotron bg-transparent">
      <div class="col">
        h1.text-info= title
        <div class="row pt-2"></div>
          .list-group
            each pair, object in word_list
              .list-group-item.list-group-item-action.flex-column.align-items-start
                .d-flex.w-100.justify-content-between
                each value, key in pair
                  h5.text-info.mb-1= key + ": " + value
        </div>
    </div>