extends layout

block content
  h1=title

  form(method='POST' action='')
    .form-group
    <div class="container">
      <div class="row">
        <div class="col">
          label.col-form-label.col-form-label-lg(for='form_response') Url to be scraped:
          input.form-control.form-control-lg#form_response(type='text' placeholder='https://www.reddit.com/r/unhealthy-sofas' name='form_response' value=(undefined===user_input ? '' : user_input.form_response))
        </div>
      </div>
      <div class="row">
        <div class="col">
          button.btn.btn-primary(type='submit' formaction='/scrape/pushshift_scrape_n_sort') Sort PushShift
        </div>
        <div class="col">
          button.btn.btn-primary(type='submit' formaction='/scrape/create') List PushShift
        </div>
        <div class="col">
          button.btn.btn-primary(type='submit' formaction='/scrape/reddit_scrape_n_sort') Sort Reddit
        </div>
        <div class="col">
          button.btn.btn-primary(type='submit' formaction='/scrape/reddit_scrape_create') List Reddit
        </div>
      </div>
    </div>
  if errors
    .container
      .card.border-danger.mb-3(style='max-width: 20rem;')
        .card-header Errors
        .card-body
          h4.card-title Yo! Sup with the errors?!
          p.card-text Here's the errors:
            ul
              for error in errors
                li!= error.msg

//- <form>
//-     <div class="form-group">
//-         <label>To Do:</label>
//-         <input type="text" class="form-control" name="todo">
//-     </div>
    
//-     <button type="submit" class="btn btn-primary btn-lg" formaction="/bottom">Add to Bottom</button>
//- </form>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>