extends layout

block content
  h1=title

  form(method='POST' action='')
    .form-group
    <div class="container">
      <div class="row">
        <div class="col">
          label.col-form-label.col-form-label-lg(for='form_response') Url to be scraped:
          input.form-control.form-control-lg#form_response(type='text' placeholder='https://www.reddit.com/r/legaladvice/comments/34l7vo/ma_postit_notes_left_in_apartment/' name='form_response' value=(undefined===user_input ? 'https://www.reddit.com/r/legaladvice/comments/34l7vo/ma_postit_notes_left_in_apartment/' : user_input.form_response))
        </div>
      </div>
      <div class="row pt-1">
        <div class="col">
          <div class="btn-group" role="group" aria-label="Scrape Type">
            <button type="submit" class="btn btn-secondary" formaction="/scrape/reddit_scrape_create">List Reddit</button>
            <button type="submit" class="btn btn-secondary" formaction="/scrape/reddit_scrape_n_sort">Sort Reddit</button>
            <button type="submit" class="btn btn-secondary" formaction="/scrape/create">List PushShift</button>
            <button type="submit" class="btn btn-secondary" formaction="/scrape/pushshift_scrape_n_sort">Sort PushShift</button>
            <button type="submit" class="btn btn-secondary" formaction="/scrape/test_response">Response Test</button>
          </div>
        </div>
      </div>
    </div>
  if errors
    .container
      .card.border-danger.mb-3(style='max-width: 20rem;')
        .card-header Errors
        .card-body
          h4.card-title Yo! Sup with the errors?!
          p.card-text Here's the errors:
            ul
              for error in errors
                li!= error.msg


//- <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/create') List PushShift
//-         </div>
//-         <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/reddit_scrape_n_sort') Sort Reddit
//-         </div>
//-         <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/reddit_scrape_create') List Reddit
//-         </div>
//-         <div class="col-5">
//-         </div>

//- <button type="submit" class="btn btn-primary" formaction="/scrape/create">List PushShift</button>
//-   <button type="submit" class="btn btn-primary" formaction="/scrape/reddit_scrape_n_sort">Sort Reddit</button>
  
//-   <button type="button" class="btn btn-secondary">Left</button>
//-   <button type="button" class="btn btn-secondary">Middle</button>
//-   <button type="button" class="btn btn-secondary">Right</button>

//-       <div class="row">
//-         <div class="col">
          
//-         </div>