extends layout

block content
  h1=title

  form(method='POST' action='')
    .form-group
    <div class="container">
      <div class="row">
        <div class="col">
          label.col-form-label.col-form-label-lg(for='form_response') Url to be scraped:
          input.form-control.form-control-lg#form_response(type='text' placeholder='https://www.reddit.com/r/unhealthy-sofas' name='form_response' value=(undefined===user_input ? '' : user_input.form_response))
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Sort</button>
        <div class="btn-group show" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
          <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
            <a class="dropdown-item" type='submit' formaction='/scrape/pushshift_scrape_n_sort'>Sort PushShift</a>
            <a class="dropdown-item" href="/scrape/reddit_scrape_n_sort">Sort Reddit</a>
          </div>
        </div>
      </div>
    </div>
  if errors
    .container
      .card.border-danger.mb-3(style='max-width: 20rem;')
        .card-header Errors
        .card-body
          h4.card-title Yo! Sup with the errors?!
          p.card-text Here's the errors:
            ul
              for error in errors
                li!= error.msg
//- <div class="container">
//-       <div class="row">
//-         <div class="col">
//-           label.col-form-label.col-form-label-lg(for='form_response') Url to be scraped:
//-           input.form-control.form-control-lg#form_response(type='text' placeholder='https://www.reddit.com/r/unhealthy-sofas' name='form_response' value=(undefined===user_input ? '' : user_input.form_response))
//-         </div>
//-       </div>



//-       <div class="row">
//-         <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/pushshift_scrape_n_sort') Sort PushShift
//-         </div>
//-         <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/create') List PushShift
//-         </div>
//-         <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/reddit_scrape_n_sort') Sort Reddit
//-         </div>
//-         <div class="col">
//-           button.btn.btn-primary(type='submit' formaction='/scrape/reddit_scrape_create') List Reddit
//-         </div>
//-         <div class="col-5">
//- <form>
//-     <div class="form-group">
//-         <label>To Do:</label>
//-         <input type="text" class="form-control" name="todo">
//-     </div>
//-     <button type="submit" class="btn btn-primary btn-lg" formaction="/top">Add to Top</button>
//-     <button type="submit" class="btn btn-primary btn-lg" formaction="/bottom">Add to Bottom</button>
//- </form>


//- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
//-   <button type="button" class="btn btn-primary">Sort</button>
//-   <div class="btn-group show" role="group">
//-     <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
//-     <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
//-       <a class="dropdown-item" href="/scrape/pushshift_scrape_n_sort">Sort PushShift</a>
//-       <a class="dropdown-item" href="/scrape/reddit_scrape_n_sort">Sort Reddit</a>
//-     </div>
//-   </div>
//- </div>

//- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
//-   <button type="button" class="btn btn-success">Success</button>
//-   <div class="btn-group" role="group">
//-     <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
//-     <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
//-       <a class="dropdown-item" href="#">Dropdown link</a>
//-       <a class="dropdown-item" href="#">Dropdown link</a>
//-     </div>
//-   </div>
//- </div>

//- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
//-   <button type="button" class="btn btn-info">Info</button>
//-   <div class="btn-group" role="group">
//-     <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
//-     <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
//-       <a class="dropdown-item" href="#">Dropdown link</a>
//-       <a class="dropdown-item" href="#">Dropdown link</a>
//-     </div>
//-   </div>
//- </div>

//- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
//-   <button type="button" class="btn btn-danger">Danger</button>
//-   <div class="btn-group" role="group">
//-     <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
//-     <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
//-       <a class="dropdown-item" href="#">Dropdown link</a>
//-       <a class="dropdown-item" href="#">Dropdown link</a>
//-     </div>
//-   </div>
//- </div>
